@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.homeContainer {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: '2StudyFont', sans-serif;
  text-align: center;
}

.recommendations {
  background-color:  #F8ECD5;
  width: 100vw;
  height: 70vh;
}

.featureCard, .recommendations .featureCard, .additionalTips .featureCard {
  background-color: #F8F4E3;
  padding: 30px;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  opacity: 0;
  transform: translateY(20px);
}

.visible {
  animation: fadeInUp 1s ease-in-out forwards;
}

.startButton {
  background-color: #F7E7CE;
  color: #fff;
  padding: 15px 30px;
  font-size: 1.2rem;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 25px;
}

.startButton:hover {
  background-color: #ebd4af;
}

.firstSection{
  height: 70vh;
  width: 100vw;
  background-color:#C0A171;
}

.additionalTips{
  background-color: #F5DDA8;
  width: 100vw;
  height: 70vh;

}

.titel {
  font-size: 3rem;
  color: #333;
  font-weight: bold;
  margin-bottom: 20px;
}

.underline {
  width: 100vw;
  height: 5px;
  background-color:  #e1d49a;
  margin: 10px auto;
}

.text {
  font-size: 1.5rem;
  color: #777;
  margin-bottom: 30px;
}

.recommendations, .additionalTips {
  display: flex;
  flex-direction: row;
  align-items: center; 
}

.recommendations h2, .additionalTips h2 {
  font-size: 2rem;
  text-align: center;
  width: 100%;
}

.features {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap; 
  background: linear-gradient(to bottom, #C0A171 50%, #F8ECD5 50%);
}

.features .featureCard {
  flex: 1;
  min-width: 250px; 
  max-width: 350px; 
}

.recommendations, .additionalTips {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
  gap: 20px; 
}

.recommendations .featureCard, .additionalTips .featureCard {
  flex: 1;
  min-width: 250px;
  max-width: 350px;
}

.recommendations{
  background-color: #F8ECD5;
  position: center;
  width: 100vw;
  height: 70vh;
}

.recommendationsContainer {
  background-color: #F8ECD5;
  position: center;
  align-content: center;
  padding: 20px;
  border-radius: 8px;
  margin-top: 40px;
}

.recommendationsTitle {
  color: #cd9b12;
  font-size: 24px;
  text-align: center;
}

.recommendationList {
  list-style: none;
  padding: 0;
}

.recommendationItem {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-top: rgb(120, 81, 34) 3px solid;
}

.recommendationText {
  color: #555;
  font-size: 16px;
}

.recommendationName {
  font-weight: bold;
  font-size: 18px;
  color: #333;
}

.recommendationRole {
  font-size: 14px;
  color: #777;
}