.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:70%;
}

.finishButton {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.finishButton:hover {
    background-color: #333; /* אפקט ריחוף */
}
