.container{
    background-color: var(--primary-color);
}

.bookGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr)); 
    gap: 16px;
    max-height: calc(2 * 250px + 16px); 
    overflow-y: scroll; 
    padding-left: 16px; 
    direction: ltr; 
    margin-right: 6px;
}


.bookCard {
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 16px;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}

.bookCard:hover {
    background-color: #efefef;
}

.container {
    display: flex;
}

.sidebarContainer {
    width: 250px;
}

.booksContainer {
    flex: 1;
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
    width: 80%;
    max-width: 600px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 500;
}

.closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 20px;
    font-weight: bold;
    color: red;
    cursor: pointer;
}

.noBooks{
    text-align: center;
    font-family: var(--main-font);
    margin-top: 30px;
    font-size: 24px;
    width: 100%;
}