.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;

  }
  
  .title {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
  }
  
  .chapterContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 10px;
    width: 100%;
    max-width: 600px;
  }
  
  .chapterDiv {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.2s, color 0.2s;
  }
  
  .chapterDiv:hover {
    
    color: #828282;
    transform: scale(1.05);
  }
  
  .chapterDiv.read {
    background-color: #f0f0f0;
    color: #999;
    text-decoration: line-through;
  }
  
  .markReadButton {
    background-color: #030303;
    color: white;
    border: none;
    padding: 3px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
  }
  
  .markReadButton:hover {
    background-color: #5d5d5d;
  }
  