.mainContainer {
    display: flex;
    flex-direction: column;
    padding: 50px 100px;
    background-color: var(--primary-color);
    font-family: var(--main-font);
}

.firstLine , .secondLine{
    display: flex;
}

.secondLine{
 margin-top: 15px;
}

.container {
    display: flex;
    background-color: white;
}

.mycard, .mystudycard, .myinfocard, .myprogresscard {
    position: relative;
    padding: 20px 20px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.myinfocard{
    flex: 50%;
}

.mystudycard{
    flex: 40%;
    margin-left: 10px;
}

.myprogresscard{
    flex: 60%;
}

.studyContent {
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
}

.recommendContainer {
    display: flex;
    flex: 50%;
    padding: 0px;
}


.recommendcard {
    border-radius: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.userbox {
    padding: 20px;
    text-align: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.text{
    background-color: white;
    border-radius: 25px;
    padding: 0px 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.infoContainer {
    margin-right: 170px;
    text-align: right;
}

.info1 {
    margin-top: 120%;
    margin-bottom: 60%;
    padding: 3%;
    font-size: 8px;
    font-weight: 400;
}

.infoButtonStyled {
    background: #FFFFFF;
    border: 1px solid rgba(255, 204, 0, 0.11);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    text-align: center;
    padding: 3%;
    font-size: 8px;
    display: inline-block;
    white-space: normal;
    box-sizing: border-box;
}


.readMoreButton {
    background-color: #000000;
    color: white;
    font-size: 1.2rem;
    border-radius: 20px;
    padding: 5px 15px;
    transition: background-color 0.3s ease;
    font-family: '2StudyFont', sans-serif;
}

.readMoreButton:hover {
    background-color: #444;
    color: #fff;
}

.numOfBooks {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: bold;
    color: #333;
}

.starIcon {
    color: gold;
}

.userContainer {
    display: flex;
    align-items: center;
    position: relative;
    margin-top: 55px;
}

.userName {
    margin-bottom: 8px;
    margin-top: 10px;
}

.numOfBooksContainer {
    margin-top: 60px;
    text-align: center;
    background-color:white;
    border-radius: 25px;
    margin: 60px 80px 0px 80px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.imageWrapper {
    position: absolute;
    top: -50px;
    right: 20px;
}

.imgUser {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.colorContainer {
    background-color: var(--lightest-gray);
    padding-bottom: 50px;
    border-radius: 5px;
    margin: 0px 20px;
}

.infoContainer2 {
    display: flex;
    flex-direction: row;
    max-height: 20px;
    font-size: small;
}

.infoContainerMain {
    float: left;
    margin-right: 30%;
    margin-top: 40px;
}

.infobutto {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-right: 8px;
    padding: 2%;
}

.titles {
    padding: 3%;

}

.small {
    font-size: 12px;
    color: var(--dark-gray);
}


.loadingContainer{
    width: 100%;
    align-items: center;
    background-color: white;
    max-height: 400px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  
  .popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .recommendContainer {
    position: relative; 
  }
  