.footerContainer {
    display: flex;
    
    height: 45vh;
    justify-content: space-between;
    background-color: white;
  }
  
  .column1 {
    flex: 1.4;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding: 65px; */
    /* gap: 15px; */
  }

  .column2{
    flex: 1.9;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    align-items: right;
    text-align: right;
    padding: 2vw;
    gap: 15px;
    margin-top: 5vh;
  }
  
  
  .column3{
    flex: 1.4;
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: center;
    margin-top: 15px;
    margin-right: 90px;
  }
  .logo {
    width: 120px;
    height: 120px;
    margin: center;
    margin-top: 15vh;
  }
  
  .divider {
    width: 1px;
    background-color: #ccc;
    height: 35vh;
    margin: 0 20px;
    margin-top: 5vh;
  }
  
  .form {
    align-items: flex-start;
  }
  
  .heading {
    color: black;
    font-size: 35px; /* הגדלת גודל הכותרת */
    font-weight: bold;
    text-align: center; /* יישור לימין */
    margin-right: 0; /* מרווח לימין */
  }
  
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
  }
  
  .input {
    background-color: var(--primary-color);
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 10px; 
    color: black;
    height: 5vh;
    width: 200px; 
    font-size: 14px;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .button {
    background-color: black;
    color: white;
    padding: 2px 30px; /* הקטנת הכפתור */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 110px; 
  }


  