.card {
  display: flex;
  flex-direction: row;
  background-color: white;
  color: white;
  padding: 20px;
  width: 600px;
  position: relative;
  font-family: var(--main-font);
}

.loading {
  opacity: 0.5;
  filter: blur(3px);
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  width: 150px;
  padding: 10px;
}

.image {
  width: 100px;
  height: 140px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.changeButton {
  background-color: rgb(241, 206, 160);
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.changeButton:hover {
  background-color: rgb(204, 171, 129);
}

.rightPanel {
  flex: 1;
  padding-left: 20px;
}

.toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--lightest-gray);
  margin-top: 5px;
}

.toggleText {
  font-weight: bold;
  font-size: 1rem;
  flex: 1;
  color: black;
}

.text {
  border-radius: 5px;
  padding: 10px;
  color: black;
  margin-bottom: 5px;
}
