.card {
  display: flex;
  flex-direction: row;
  background-color:rgb(69, 66, 66);
  color: white;
  padding: 20px;
  width: 600px;
  position: relative;
}

.loading {
  opacity: 0.5;
  filter: blur(3px);
}

.leftPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 150px;
  padding: 10px;
}

.image {
  width: 100px;
  height: 140px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.changeButton {
  background-color: #f0a500;
  color: black;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.changeButton:hover {
  background-color: #ffa726;
}

.rightPanel {
  flex: 1;
  padding-left: 20px;
}

.toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  background-color: white;
  margin-top: 5px;
}

.toggleText {
  font-weight: bold;
  font-size: 1rem;
  flex: 1;
  color: black;
}

.text {
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  color: black;
  margin-bottom: 5px;
}
