.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #000; /* Black background */
  color: white;
  border-radius: 10px;
  padding: 15px;
  width: 350px; /* הקטנת הרוחב */
  font-family: Arial, sans-serif;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.section {
  margin-bottom: 10px; /* הקטנת מרווחים */
  width: 100%;
}

.label {
  font-size: 0.9rem; /* הקטנת גודל הטקסט */
  font-weight: bold;
}

.input {
  width: 100%;
  padding: 8px; /* הקטנת רווח פנימי */
  font-size: 0.9rem; /* הקטנת גודל הטקסט */
  border-radius: 5px;
  border: none;
  background-color: #fff;
  color: #000;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
}

.changeQuestionButton {
  background-color: #f0a500;
  color: black;
  padding: 8px 15px; /* הקטנת רווחים */
  font-size: 0.9rem; /* הקטנת גודל הכפתור */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
  margin-top: 10px;
}

.changeQuestionButton:hover {
  background-color: #ffa726;
}

.imageContainer {
  position: absolute;
  top: 10px; /* קרבה לחלק העליון */
  right: 10px; /* קרבה לצד */
  width: 60px; /* הקטנת התמונה */
  height: 60px;
}

.image {
  width: 100%;
  height: auto;
}
