.fidbackContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background-color: var(--primary-color);
    border-top: #cd9b12 2px solid;
}

.fidbackTitle {
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    color: #333;
    margin-bottom: 30px;
}

.customerTestimonials {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.customerTestimonial {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.profileSection {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}

.profileImage {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #cd9b12;
    object-fit: cover;
}

.customerName {
    font-weight: bold;
    font-size: 16px;
    color: #333;
}

.customerRole {
    font-size: 14px;
    color: #666;
}

.quoteSection {
    font-style: italic;
}

.quoteMark {
    font-size: 30px;
    color: #cd9b12;
    text-align: right;
}

.quoteMark2{
    font-size: 30px;
    color: #cd9b12;
    text-align: left;
}

.recommendation {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}
