@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: '2StudyFont'; 
  src: url('../../public/yarden-regular-alefalefalef.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Natural';
  src: url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fugaz+One&family=Knewave&family=Permanent+Marker&family=Trade+Winds&display=swap');
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Rubik';
  src: url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Fugaz+One&family=Knewave&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Permanent+Marker&family=Rubik:ital,wght@0,300..900;1,300..900&family=Trade+Winds&display=swap');
  font-weight: normal;
  font-style: normal;
}

body {
  color: #010101;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
  direction: rtl;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --primary-color: #fefaea;
  --dark-gray: #555050;
  --light-gray: #efecec;
  --lightest-gray: #F6F6F6;
  --main-font: '2StudyFont', sans-serif;
}

.notFoundContainer h2 {
  color: #ada480;
  font-size: xx-large;
  font-weight: 700;
  margin-bottom: 50px;
  text-align: center;  
  padding-top: 10%;
}

.homeLink {
  color: #ada480;
  font-size: x-large;
  font-weight: 600;
  margin: 50px;
  text-align: center;  
  padding: 10%;
  border-radius: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.homeLink:hover{
  background-color: #a09670;
  color: #F9F2D7;
  text-decoration: none;
}

.mark-button {
  border-radius: 20px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: black;
  padding: 1%;
  font-size: 10px;
  font-weight: 700;
  width: 100px;
  position: absolute;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mark-button:hover {
  background-color: #b9b088;
}

.mark-button img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

::selection {
  background-color: #f5f5dc; 
  color: #333; 
}

::-moz-selection {
  background-color: #f5f5dc; 
  color: #333; 
}

::-webkit-scrollbar {
  width: 8px;   /* רוחב פס הגלילה */
  height: 8px;  /* גובה פס הגלילה עבור גלילה אופקית */
}

::-webkit-scrollbar-thumb {
  background-color: #888;  /* צבע פס הגלילה */
  border-radius: 10px;     /* פינות מעוגלות */
  border: 2px solid #fff;  /* רווח פנימי */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;  /* צבע פס הגלילה בהובר */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;     /* צבע הרקע */
  border-radius: 10px;     /* פינות מעוגלות */
}
