@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #010101;
  background: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
