.container {
    width: 24%;
    background-color: #f5f5f5;
    height: 96vh;
    padding: 16px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    margin:0px 10px;
    border-radius: 10px;
   
}
.title{
    font-size: 20px;
    font-weight: bold;
    margin: 7px;
    text-align: center;

}

.listItem, .innerListItem {
    border-radius: 8px;
    margin-bottom: 8px;
    cursor: pointer;
    text-align: start;
    font-family: '2StudyFont', sans-serif;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0 10px;
}

.listItem:hover {
    background-color: #e0e0e0;
}

.selected {
    background-color: #e9e4c4;
    font-weight: bold;
}

.nestedList {
    padding-left: 16px;
}

.innerListItem {
    background-color: #e0e0e0;
    padding-left: 10px;
}

.innerListItem:hover {
    background-color: #e9e4c4;
}

.iconButton {
    background: none;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0;
}

.iconButton:focus {
    outline: none;
}

.icon {
    font-size: 16px;
    margin-left: 8px;
}
