/* * {
  font-family: '2StudyFont', sans-serif;
} */

.bookCard {
  max-width: 600px;
  padding: 24px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  background: #F3F8F2;
  font-family: '2StudyFont', sans-serif;
}

.closeButton {
  position: absolute;
  top: 8px;
  background-color: black;
  color: white;
  left: 8px;
  padding: 5px;
  border-radius: 50%;
}

.closeButton:hover {
  background-color: var(--light-gray);
  color: black;
  border: 1px solid black;
}

.bookTitle, .bookImage, .starsContainer, .ttext, .learnButton {
  font-family: '2StudyFont', sans-serif;
}

.bookImage {
  object-fit: cover;
  width: 347px;
  border-radius: 51px;
}

.starsContainer {
  margin-top: 8px;
}

.truncatedText {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fullText {
  white-space: normal;
}

.readMoreButton {
  margin-top: 8px;
  color: #3e3d3d;
}

.learnButton {
  margin-top: 16px;
  background-color: black;
  color: white;
  float: left;
  transition: background-color 0.3s;
  padding: 10px 20px;
  border-radius: 5px;
}

.learnButton:hover {
  background-color: #3e3d3d;
  cursor: pointer;
}

.container {
  margin-top: 20px;
}

.ttext {
  margin-top: 8px;
}

.bookTitle,
.text,
.ttext,
.fullText,
.truncatedText,
.readMoreButton,
.learnButton {
  font-family: '2StudyFont', sans-serif;
}

.bookTitle {
  font-weight: bold;
}

.bookTitle, .bookImage {
  text-align: right;
}

.starsContainer {
  margin-top: 8px;
}

.learnButton {
  margin-top: 16px;
}
