.termsContainer {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }
  
  .termsContainer input {
    margin-right: 5px;
  }
  
  .termsContainer a {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
  }
  
  