.login_card {
  width: 350px;
  height: 500px; 
  background-color: black;
  border-radius: 25px;
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #8b6b3a;
  position: relative;
}

.login_card_icon_top {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50px; 
}

.login_card_text {
  color: white;
  margin-top: 180px;
  margin-bottom: 10px; 
  font-size: 1.2rem;
  text-align: center;
  font-family: '2StudyFont', sans-serif;
}

.login_card_button {
  background-color: #8b6b3a;
  color: white;
  text-transform: none;
  padding: 10px 25px;
  font-size: 1rem;
  font-family: '2StudyFont', sans-serif;
  border-radius: 4px;
  margin-top: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
  margin-bottom: auto; 
}

.login_card_button:hover {
  background-color: #6c4f23;
}

.login_card_icon_bottom {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  bottom: 35px;
}
