.formContainer {
  width: 300px;
  margin: auto;
  text-align: center;
  padding: 30px;
  font-family: var(--main-font);
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center; 
  overflow: hidden; 
  }

.title {
  font-size: 24px;
  margin: 10px 0;
}

.input {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.button {
  width: 100%;
  padding: 10px;
  background-color: #f3e5b8;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #e3d5a8;
}

.error {
  color: red;
  font-size: 12px;
}

.switchStatus span {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}

.forgotPassword {
  background: none;
  border: none;
  color: blue;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
  margin-top: 5px;
  padding: 0;
}

.forgotPassword:hover {
  color: darkblue;
}




/* .login_card{
  display: flex;
  flex-direction: row;
  background-color: var(--primary-color);
  height: 50vh;
  width: 40vw;
  justify-content: space-around;
}

.logo{
  width: 6rem;
  height: 6rem;
}

.login_card_text{
  font-size: x-large;
  margin-top: 5%;
}

.login_card_button{
  background-color: rgb(48, 48, 48);
  color: white;
  border-radius: 5px;
  padding: 20px;
}

.animate, .side{
  max-width:  40%;
}

.side{
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  flex-direction: column;
  margin-right: 15px;
}
 */
