.pageContainer {
  background-color: var(--primary-color);
  font-family: var(--main-font);
}

.headercontainer {
  background: url('../../../public/pictures/aboutmain.jpg') center/cover no-repeat, rgba(255, 255, 255, 0.895);
  text-align: center;
  height: 60vh;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.buttonStart{
  background-color: black;
  color: white;
  font-size: 20px;
  font-family: var(--main-font);
  padding: 12px 70px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

.buttonStart:hover{
  background-color: rgb(90, 87, 87);
}

.title {
  font-size: 60px;
  font-weight: bold;
}

.title2{
  font-size: 40px;
  font-weight: bold;
}

.secondTitle,.heroTitle {
  font-size: 25px;
}



.section {
  font-size: 20px;
  padding: 10px 10%;
}

.background {
  background-color: rgba(171, 168, 168, 0.5);
  width: 100%;
  height: 100%;
  padding: 20px;
}

.sectionContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.heroDescription{
  max-width: 400px;
  margin-top: 20px;
}

.heroTitle{
  margin-top: 30px;
}

.line{
  width: 50%;
  height: 5px;
  background-color: #F3DD86;
  margin-bottom: 20px;
  border-radius: 5px;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 25%;
  margin-top: 20px;
}

.bottomFeatures{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  gap: 20px;  
}

.bottomFeature{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  text-align: center;
  margin-bottom: 10px;
}


.hidden {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.animated {
  opacity: 1 !important;
  transform: translateY(0) !important;
  transition: none !important; 
}
